/* 
<!-- 
Streak Counter
We are Going to Build a Simple streak Counter. A streak Counter is a tracker for Good Habit. For
Example, if I Stop smoking today, I want to add that as an activity an in future, like next month I can see
how many days have gone without me smoking.
Below is a Guide to follow:
On Page Load the page should look like This
When you click the add Button
On Close Go Back to the First Frame

This is the home page, with 2 sections:
A round btn with a plus sign in it, onclick redirect to another page to add a new streak
An img with 
 -->

<body>
    <div class="container">
        <div class="add-btn">
            <button class="btn">+</button>
        </div>
        <div class="streaks-demo">
            <img src="./assets/demo-with-watch.png" alt="demo image">
        </div>
        <div class="welcome-msg">
            <h1>Welcome to My Streak Counter</h1>
        </div>
    </div>
</body>
*/

/*
bg color: #ff704c
Btn and image aligned side by side with space between them
all content should fit in the screen
*/

/* CSS Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff704c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff704c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.add-btn .btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff704c;
  font-size: 60px;
  color: #fff;
  border: solid 5px #fff;
  cursor: pointer;
}

.streaks-demo img {
  width: 80%;
  height: 80%;
  margin-left: 10%;
}

.welcome-msg {
  color: #fff;
}

/* Mobile styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px 0;
  }
  .add-btn {
    margin-top: 70px;
  }
  .streaks-demo img {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

  .welcome-msg {
    margin-top: 20px;
    text-align: center;
  }
}
